<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>20/01/12 19:13:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSafarCarRental.beforeMethod()[pri:0, instance:com.testsuite.TestSafarCarRental@8bd1b6a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/01/12 19:13:52</td>   <td>13896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSafarCarRental.another()[pri:0, instance:com.testsuite.TestSafarCarRental@8bd1b6a]">another</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/01/12 19:13:52</td>   <td>13906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSafarCarRental.afterMethod()[pri:0, instance:com.testsuite.TestSafarCarRental@8bd1b6a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/01/12 19:13:52</td>   <td>14532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSafarCarRental.beforeMethod()[pri:0, instance:com.testsuite.TestSafarCarRental@8bd1b6a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/01/12 19:14:05</td>   <td>27062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSafarCarRental.f()[pri:0, instance:com.testsuite.TestSafarCarRental@8bd1b6a]">f</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/01/12 19:14:05</td>   <td>27065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSafarCarRental.afterMethod()[pri:0, instance:com.testsuite.TestSafarCarRental@8bd1b6a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
</table>
